<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                </button>
                <h3>
                    @Html.ActionLink("Rent My Junk", "Index", "Home")
                </h3>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    @*<li><a href="./">John Powell<span class="sr-only">(current)</span></a></li>*@
                    @if (!Request.IsAuthenticated)
                    {
                        <li>
                            @Html.ActionLink("Login", "SignInB2E", "Account")
                        </li>
                    }
                    else
                    {
                        <li><p>"@User.Identity.Name"</p></li>
                        <li><a href="./">Sign Out<span class="sr-only">(current)</span></a></li>
                        <li>@Html.ActionLink("My Junk", "Index", "Items")</li>
                    }
                   
                    @*<li>
                        <a href="~/Content/imgs/profile-img.jpg">
                            <img src="~/Content/imgs/profile-img.jpg" width="20" height="20" alt="profile logo" />
                        </a>
                    </li>*@

                    @*@Html.ActionLink("Login", "SignOut", "Account")*@

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - P20 Team Stark - The winter is coming!</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
