@model rentMyJunk.Models.Item

@{
    ViewBag.Title = "Details";
}
<div class="row">
    <h2 class="app-page-headers col-md-8">@Model.description </h2>
    <a href="@ViewBag.urlReferrer" class="col-md-2" style="padding-top: 35px"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>&nbsp;Back to List</a>
</div>
<hr />
<div class="row">
    <div class="col-md-5">
        <img src=@Model.imageUri width="250"/>
    </div>
    <div class="col-md-7">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-2">Category</label>
                <div class="col-md-10">
                    <p class="form-control-static">@Model.category</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Available?</label>
                <div class="col-md-10">
                    <div class="checkbox">
                        @Model.isAvailable
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Rate/day</label>
                <div class="col-md-5">
                    <div class="col-md-10">
                        <p class="form-control-static">$&nbsp;@Model.ratePerDay</p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Zipcode</label>
                <div class="col-md-10">
                    <div class="col-md-10"><a href="http://tinyurl.com/zlsdkkj" class="form-control-static">30324</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@if (Model.ownerId == User.Identity.Name)
{
    <div class="row">
        <div class="col-md-3 col-md-offset-6" style="text-align: right">
            <a href="@Url.Action("Edit", "Items", new {id = Model.id})"><input type="button" value="Edit" class="btn btn-success"/></a>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-md-3 col-md-offset-6" style="text-align: right">
            <a href="@Url.Action("Index", new { controller = "Request", action = "Index", itemId = Model.id })"><input type="button" value="Request to Rent!" class="btn btn-primary" /></a>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
