@model IEnumerable<rentMyJunk.Models.Item>

@{
    ViewBag.Title = "Index";
}
<div class="row">
    <h2 class="app-page-headers">@ViewBag.header</h2>
</div>

<div class="row">
    <table class="table table-stripped table-hover">
        <tr>
            <th>
                Description
            </th>
            <th>
                Category
            </th>
            <th>
                Available?
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.isAvailable)
                </td>
                <td>
                    @Html.ActionLink("| Details |", "Details", new { id = item.id })
                    @Html.ActionLink(" Request |", "Index", new {controller="Request", action="Index", itemId = item.id })
                    @if (User.Identity.Name == item.ownerId)
                    {

                        @Html.ActionLink(" Edit |", "Edit", new { id = item.id })
                        @Html.ActionLink(" Delete |", "Delete", new { id = item.id })
                    }
                </td>
            </tr>
        }

    </table>
</div>

